/token.txt
/TOOLS/Generate_csv_from_original_files/datas/HMDB.csv
/cmf_id_test/report.csv
/datas/update.json
/datas/ontologies_dict.csv
/TOOLS/check_ontologies_completion/data_solweig/unique_inchikeys_merged.csv
/TOOLS/check_ontologies_completion/data_solweig/NPClass070723.csv
/TOOLS/check_ontologies_completion/data_solweig/CLassyFireOutput.csv
/TOOLS/check_ontologies_completion/filtered_unknown.csv
/TOOLS/check_ontologies_completion/unique_inchikeys.csv
/TOOLS/check_ontologies_completion/data_solweig/ontologies_dict_part_1.csv
/TOOLS/check_ontologies_completion/data_solweig/ontologies_dict_part_2.csv
/TOOLS/check_ontologies_completion/data_solweig/ontologies_dict_part_3.csv
/TOOLS/check_ontologies_completion/data_solweig/ontologies_dict_part_4.csv
/TOOLS/check_ontologies_completion/data_solweig/ontologies_dict_part_5.csv
